/*--------------------------------------
GÉNÉRIQUE
---------------------------------------*/
html{
box-sizing: border-box;
}

*,
*::before*::after{
    box-sizing: inherit;
}
/*-------------------------------------
ÉLÉMENTS
-------------------------------------*/
.wrapper{
    margin:0 auto;
    max-width: 1100px;
}

h1{
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.36em;
    line-height: 60px;
}

h2{
font-size: 3rem;
font-family: "Lato", sans-serif;
font-weight: 100;
letter-spacing: 0.5;
}



/*--------------------------------------
COMPONENTS
---------------------------------------*/

/*header*/

header{
    background-color: #34495E;
    justify-items: center;
    padding: 43px 175px 44px 165px;
}

/*slogan*/

.slogan{
    justify-content: right;
    justify-items: right;
}

/*article*/

.regles p{
font-size: 2.25rem;
font-family: "Quicksand", sans-serif;
line-height: 60px;
}

.image{
    font-size: 30px;
    font-weight: 700;
    color: #d35400;
    border-color: 10px #d35400;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    align-content: center;
    
}

article{
    align-items: center;
    margin: 39px;
}


article:hover{
    background-color: #BDC3C7;
}

.gauche{
    display: flex;
    justify-content: center;
    gap: 67px;
}

.droite{
    display: flex;
    justify-content: center;
    gap: 40px;
}

/*info*/

.info{
    display: flex;
    
}

.info p{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

.info span{
    font-weight: 700;
}

/*footer*/

footer{
    background-color: #2980B9;
    padding: 39px;
}

.footer p{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
    font-weight: 800;
}