/*--------------------------------------
GÉNÉRIQUE
---------------------------------------*/
html{
box-sizing: border-box;
}

*,
*::before*::after{
    box-sizing: inherit;
}
/*-------------------------------------
ÉLÉMENTS
-------------------------------------*/
.wrapper{
    margin:0 auto;
    max-width: 1100px;
}

h1{
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 0.36em;
}



/*--------------------------------------
COMPONENTS
---------------------------------------*/

/*header*/

header{
    background-color: #34495E;
    justify-items: center;
}

/*slogan*/

.slogan p{
font-size: 3rem;
font-family: "Lato", sans-serif;
font-weight: 100;
letter-spacing: 0.5;
}

/*article*/

.regles p{
font-size: 2.25rem;
}

article{
    font-family: "Quicksand", sans-serif;
}

/*info*/

.info p{
    font-family: "Roboto", sans-serif;
    font-size: 1.25rem;
}

/*footer*/

footer{
    background-color: #2980B9;
}