/*--------------------------------------
GÉNÉRIQUE
---------------------------------------*/
html{
box-sizing: border-box;
}

*,
*::before*::after{
    box-sizing: inherit;
}
/*-------------------------------------
ÉLÉMENTS
-------------------------------------*/
.wrapper{
    margin:0 auto;
    max-width: 1100px;
}



/*--------------------------------------
COMPONENTS
---------------------------------------*/

/*header*/

header{
    background-color: #34495E;
    font-size: 6rem;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
}

/*article*/

article{
    font-family: "Quicksand", sans-serif;
}

/*footer*/

footer{
    background-color: #2980B9;
}